.HeaderContainer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #e9ecef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 50rem;
}